In [25]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import davies_bouldin_score

from sklearn.decomposition import LatentDirichletAllocation

from time import time

In [17]:
K = list(range(2, 10))

In [6]:
df = pd.read_csv(r'./df_tfidf4395.csv')
df.head()

,act,afraid,age,ago,ah,ai,aint,air,aliv,alon,...,x2,ya,ye,yea,yeah,year,yesterday,yo,young,index
0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.028271,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0
1,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1
2,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.085668,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,2
3,0.0,0.0,0.0,0.0,0.0,0.03901,0.0,0.254412,0.000000,0.000000,...,0.0,0.0,0.100178,0.0,0.035947,0.188197,0.0,0.0,0.027036,3
4,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.216461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,4

In [12]:
features = df.columns.tolist()[:-1]

In [16]:
data = df[features].values

# Kmeans

In [20]:
results = {}
for k in K:
    kmeans = KMeans(n_clusters=k, random_state=905).fit(data)
    labels = kmeans.labels_
    results[k] = {
                  'db_index': davies_bouldin_score(data, labels),
                  'labels': kmeans.labels_,
                  'centres': kmeans.cluster_centers_
                 }
    print(k, davies_bouldin_score(data, labels))

2 8.5776640097168
3 7.602568532441171
4 6.5123734239046405
5 7.860200282523778
6 7.593222031160148
7 7.236792062867887
8 6.571751734390039
9 6.643355777503522

# LDA

In [30]:
n_top_words = 20

In [24]:
lda = LatentDirichletAllocation(n_components=5, 
                                max_iter=5,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=905)

In [27]:
t0 = time()
lda.fit(data)
print("done in %0.3fs." % (time() - t0))

done in 4.526s.

In [28]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        message = "Topic #%d: " % topic_idx
        message += " ".join([feature_names[i]
                             for i in topic.argsort()[:-n_top_words - 1:-1]])
        print(message)
    print()

In [31]:
print_top_words(lda, features, n_top_words)

Topic #0: love know ll ve time like come feel heart away day say ca life want way oh let world need
Topic #1: dem di prayer check come choru want like bout time yo know war everywher ya say day buri start blood
Topic #2: thou woah deeper pride great burn murder kill bird fuck futur god ve break way togeth heart love bag eye
Topic #3: got na like know babi yeah gon oh ai nigga love girl want wan caus make let come man ll
Topic #4: la christma da doll snow yo sing melodi tree oh whoa hill lone happi brother littl magic suppos love song